@font-face {
  font-family: 'Anonymous Pro';
  font-style: normal;
  font-weight: normal;
  src: local('Anonymous Pro'), url('Anonymous_Pro.woff') format('woff');
}


.App {
  text-align: center;
}

.background{
  background-image: url("iss_bg.png");
  background-position: center;
  background-size: cover;
  position: absolute;
  height: 100%;
  width: 100%;
}

h1, h2, h3 {
  font-family: 'Anonymous Pro';
  color:rgb(64, 187, 64);
}

h1 {
  text-align: center;
}


.contentZone {
  height: 170px;
  width: 400px;
  margin: auto 15px;
  padding: 30px;
  border-radius: 10%;
  background: hsl(0 0% 100% / 0.05); 
  backdrop-filter: blur(0.5rem);
}